@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: var(--text-light);
  background-color: var(--background-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.cards {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

